<div class="message-wrap">
  <div class="row">
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Foydalanuvchilar</h5>
          {{#each users}}
          <button onclick="GetMessage('{{_id}}')" class="story-list mb-2">
            <input type="hidden" value="{{_id}}" id="userIdInput">
            <div class="story">
              <img src="/images/avatars/profile-image.png" alt="">
              <div class="story-info">
                <span class="story-author">{{name}}</span>
                <span class="story-time">{{logoutTime}}<span>
              </div>
            </div>
          </button>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-8">
      <div class="card">
        <div class="card-body pt-2">
          <div class="post-header" id="postHeader">
            
          </div>
          <div class="post-comments" id="msg-box">
          </div>
        </div>
      </div>
      <div class="new-comment mt-4">
        <form action="/message/create" method="post" class="py-2">
          <div class="input-group mb-3">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" id="formUserId">
            <input type="text" name="title" class="form-control" placeholder="Habar yozish" aria-label="Habar yozish"
              aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary btn-dark" type="submit" id="button-addon2">Yuborish</button>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  let card = document.getElementById('msg-box')
  let postHeader = document.getElementById('postHeader')

  function GetMessage(id) {
    fetch(`/message/get/${id}`)
      .then(res => res.json())
      .then(data => {
        card.innerHTML = ''
        postHeader.innerHTML = ''
        document.getElementById('formUserId').value = data[0]._id
        postHeader.innerHTML += `
          <img src="/images/avatars/profile-image.png" alt="">
            <div class="post-info">
              <span class="post-author">${data[0].name}</span><br>
              <span class="post-date">${data[0].logoutTime}</span>
            </div>
        `
        data.splice(0, 1)
        data.forEach(item => {
          card.innerHTML += `
              <div class="post-comm ${item.msg}">
                {{!-- <img src="/images/avatars/profile-image.png" class="comment-img" alt="" >
                <div class="comment-container">
                    <span class="comment-author">
                        ${item.user.name}
                    </span>
                </div> --}}
                        <small class="comment-date">${item.createdAt}</small>
                <span class="comment-text">
                  ${item.title}
                </span>
            </div>
            `
        })
      })
    setTimeout(() => {
      var objDiv = document.querySelector('.message-wrap .card')
      document.querySelector('.card-body').scrollTop = 1000
    }, 0)
  }

  GetMessage(document.querySelector('#userIdInput:first-child').value)
</script>